<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="config::index" th:with="title='后台管理'">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div th:replace="fragment/header::header"></div>
    <!-- 菜单 -->
    <div th:replace="fragment/menu::menu"></div>

    <div class="layui-body" style="margin: 1%">

      <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
        <legend>修改密码</legend>

        <form class="layui-form" action="" style="margin: 5%">
          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
              <input id="password" name="password" type="password" required lay-verify="pwd" placeholder="请输入密码" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
              <input id="newPassword" name="newPassword" type="password" required lay-verify="pwd" placeholder="请输入密码" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
              <input id="confirmPassword" name="confirmPassword" type="password" required lay-verify="pwd" placeholder="请输入密码" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="save">修改</button>
            </div>
          </div>
        </form>

      </fieldset>
    </div>
    <!--底部-->
    <div th:replace="fragment/footer::footer"></div>
  </div>
  <script src="/js/admin/updatePassword.js"></script>
</body>

</html>