<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="config::index" th:with="title='后台管理'">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div th:replace="fragment/header::header"></div>
    <!-- 菜单 -->
    <div th:replace="fragment/menu::menu"></div>

    <div class="layui-body" style="margin: 1%">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">
            邀请人手机：
          </label>
          <div class="layui-inline">
            <input class="layui-input" name="phone" id="phone" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">
            被邀请人手机：
          </label>
          <div class="layui-inline">
            <input class="layui-input" name="descPhone" id="descPhone" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">
            被邀请人淘宝账号：
          </label>
          <div class="layui-inline">
            <input class="layui-input" name="taobaoAccount" id="taobaoAccount" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="search">搜索</button>
          </div>
        </div>
      </form>
      <table class="layui-hide" id="list" lay-filter="list"></table>
      <script type="text/html" id="operate">
        <!-- <a class="layui-btn layui-btn-xs" lay-event="">取消</a> -->
      </script>
    </div>
    <!--底部-->
    <div th:replace="fragment/footer::footer"></div>
  </div>
  <script src="/js/invite/list.js"></script>
</body>

</html>